searchpp.conf
searchpp_google.json
target/
/src/test/java/searchpp/services/searchpp.conf
s
t
Dokumentation/*.aux
Dokumentation/Dokumentation.fdb_latexmk
Dokumentation/Dokumentation.fls
Dokumentation/Dokumentation.log
Dokumentation/Dokumentation.out
Dokumentation/Dokumentation.toc

