amazon_clientID=
amazon_accessKey=
amazon_secretKey=

ebay_clientID=
ebay_accessKey=
ebay_secretKey=

google_clientID=
google_secretKey=

#address of database/schema
#db_clientID=localhost/searchpp
db_clientID=
#username
db_accessKey=
#password
db_secretKey=
