<div class="row vertical-center">
	
	<div class="col-md-3">
	</div>
	
	<div class="col-md-6 col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Anmeldung</div>
			<div class="panel-body">
				<form name="dozLogin" class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-2" for="email">E-Mail:</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" name="email" ng-model="dozent.email" ng-required="true" ng-pattern="/^[A-Za-z\-]+\.[A-Za-z\-]+[0-9]*@hof-university\.de$/" />
							<span class="error-message" ng-show="dozLogin.email.$dirty && dozLogin.email.$error.required">Die E-Mail muss angegeben werden<br /></span>
							<span class="error-message" ng-show="dozLogin.email.$dirty && dozLogin.email.$error.pattern">Es wurde keine FH-Hof E-Mail-Adresse angegeben<br /></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="pwd">Passwort:</label>
						<div class="col-sm-10"> 
							<input type="password" class="form-control" name="pwd"  ng-model="dozent.pwd" ng-required="true" ng-minlength="8"/>
							<span class="error-message" ng-show="dozLogin.pwd.$dirty && dozLogin.pwd.$error.required">Das Passwort muss angegeben werden<br /></span>
							<span class="error-message" ng-show="dozLogin.pwd.$dirty && dozLogin.pwd.$error.minlength">Das Passwort ist zu kurz<br /></span>
						</div>
					</div>
					<div class="alert alert-warning" ng-show="loginError == 400" role="alert">E-Mail Adresse und Passwort stimmen nicht überein oder die Adresse existiert nicht</div>
					<div class="alert alert-warning" ng-show="loginError == 500" role="alert">Interner Fehler</div>
					<div>
						<a  class="btn btn-danger btn-lg col-xs-12 col-sm-3" href="#">Abbrechen</a>
						<button type="submit" class="btn btn-primary btn-lg col-xs-12 col-sm-offset-1  col-sm-8" ng-click="login()">Anmelden</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</div>